<h1> New Review for <%= @movie.title %> </h1>

<%= form_tag movie_reviews_path(@movie), class: 'form' do %>
<div>
  <%= label_tag 'review[potatoes]', 'How many potatoes:', class: "col-form-label" %>
  <%= select_tag 'review[potatoes]', options_for_select(1..5), class: 'form-control' %>
</div>
<div>
  <%= label_tag 'review[comments]', 'Comment', class: "col-form-label" %>
  <%= text_area_tag 'review[comments]', nil,  class: 'form-control' %>
</div>
<%= submit_tag 'Create Review', :class => 'btn btn-success' %>
<% end %>